
.empty-state[data-v-9c29ee62] {
  text-align: center;
  font-size: 24px;
  margin-top: 100px;
  color: #ccc;
}
.empty-state .icon[data-v-9c29ee62] {
    font-size: 48px;
}
.chuck[data-v-9c29ee62] {
  text-align: center;
  margin-top: 100px;
  padding: 0 15px;
}
.chuck__img[data-v-9c29ee62] {
    height: 70px;
}
.chuck__jokes[data-v-9c29ee62] {
    font-style: italic;
    font-size: 36px;
}
.btn__jokes[data-v-9c29ee62] {
  margin: 20px;
  display: inline-block;
  padding: 13px 20px;
  outline: none;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: #f05724;
  color: #fff;
  border-radius: .5em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.btn__jokes--wrapper[data-v-9c29ee62] {
    text-align: center;
}

.fade-enter-active[data-v-df2edc28], .fade-leave-active[data-v-df2edc28] {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}
.fade-enter[data-v-df2edc28], .fade-leave-to[data-v-df2edc28] {
  opacity: 0;
}
.sidebar-cover[data-v-df2edc28] {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 100%;
  z-index: 19;
}
.loading[data-v-df2edc28] {
  text-align: center;
  padding-top: 50px;
}

.sidebar[data-v-7d68c028] {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 70%;
  height: 40em;
  height: 100vh;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 20;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: transform 300ms;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}
.sidebar--open[data-v-7d68c028] {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.sidebar__head[data-v-7d68c028] {
    height: 60px;
    background-color: #f05724;
}
.sidebar__head img[data-v-7d68c028] {
      height: 50px;
      padding: 5px 0 0 15px;
}
.sidebar__content[data-v-7d68c028] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    overflow: auto;
    background: #fff;
}
.sidebar__menu[data-v-7d68c028] {
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar__link[data-v-7d68c028] {
    display: block;
    color: #000;
    text-decoration: none;
    padding: 15px 25px;
    font-size: 16px;
}
.sidebar__link i[data-v-7d68c028] {
      font-size: 24px;
      margin-right: 15px;
      vertical-align: middle;
}

.pointer[data-v-792a2938] {
  cursor: pointer;
}
.header[data-v-792a2938] {
  height: 60px;
}
.header__sticky[data-v-792a2938] {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    display: table;
    margin: 0;
    height: 60px;
    background: #f05724;
    text-align: center;
    color: #fff;
    width: 100%;
}
.header__content[data-v-792a2938] {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.header__brand[data-v-792a2938] {
    width: auto;
    height: 50px;
}
.header__nav[data-v-792a2938] {
    color: #fff;
    display: table-cell;
    vertical-align: middle;
}
.header__nav[data-v-792a2938]:first-child {
      text-align: left;
      padding-left: 15px;
      width: 50px;
}
.header__nav[data-v-792a2938]:last-child {
      text-align: right;
      padding-right: 15px;
      width: 50px;
}
.header__hamburger[data-v-792a2938], .header__search[data-v-792a2938] {
    background: none;
    border: none;
    padding: 0;
    outline: none;
    color: #fff;
    font-size: 30px;
}

.nav[data-v-3dead918] {
  text-align: center;
  margin-top: 10px;
}
.nav__item[data-v-3dead918] {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.nav__link[data-v-3dead918] {
    position: relative;
    display: block;
    color: #000;
    text-decoration: none;
    padding: 10px;
    background-color: #f05724;
    color: #fff;
    font-size: 14px;
    font-weight: 200;
}
.nav__link--active[data-v-3dead918] {
      background-color: #d33f0e;
      font-weight: bold;
}
.nav__link--left[data-v-3dead918] {
      border-bottom-left-radius: .5em;
      border-top-left-radius: .5em;
}
.nav__link--right[data-v-3dead918] {
      border-bottom-right-radius: .5em;
      border-top-right-radius: .5em;
}
